.image-container{
  width: 650px;
  height: 755px;
  background-image: url("/assets/images/login-image.jpg");
  background-size: 100% 100%;
}

.logo-image{
  width: 250px;
  height: 300px;
}

.welcome-container{
  text-align: center;
  color: white;
  font-size: 20px;

}

h2{
  font-weight: bold;
  margin-bottom: 0;
}

h1{
  font-size: 40px;
  margin-top: 144px;
  margin-left: 11px;
}

.form-login{
  width: 400px;
}

::ng-deep{
  mat-label{
    color: #535252;
    font-size: 10px;
    font-weight: bold;
    margin-left: 14px;
    margin-bottom: 5px;
  }

  mat-form-field{
    input{
      width: 400px;
      height: 50px;
      border-radius: 85px;
      border-style: solid;
      padding-left: 17px;
    }
  }
}

button{
  width: 430px;
  height: 50px;
  border-radius: 85px;
  background-color: #009FB7;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #007880;
  transition: .2s;
}

.forgot-password-container{
  font-size: 15px;
  color: #009FB7;
  cursor:pointer;
}

.forgot-password-container:hover{
  p{
    color: #007880;
    transition: .2s;
  }
}