.image-container{
  width: 600px;
  height: 755px;
  background-image: url("/assets/images/login-image.jpg");
  background-size: 100% 100%;
}

.logo-image{
  width: 250px;
  height: 300px;
}

.welcome-container{
  text-align: center;
  color: white;
  font-size: 20px;

}

h2{
  font-weight: bold;
  margin-bottom: 0;
}