<div fxLayout="column" fxLayoutAlign="center center" class="activation-container">
    <h1>Recuperar contraseña</h1>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="form-container" fxLayout="column"
          fxLayoutAlign="center center">
        <div fxLayoutGap="50px"  fxLayoutAlign="center center" fxLayout="column">
            <div fxLayout="column" class="input-container">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email"
                       placeholder="Introduce tu email" required email/>
            </div>
        </div>
        <button class="primary-button" type="submit">Recuperar contraseña</button>
    </form>
</div>
