@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  flex-grow: 1;
}

html{
  height: 100%;
}

/** ANGULAR STYLING SCHEDULER**/


 .cdk-overlay-pane {
  position: fixed;
  z-index: 9999;  }