<div class="sidebar-wrapper" fxLayout="column" fxLayoutAlign="none center">
    <div class="logo-wrapper" fxLayout="column">
       <a href="/"><img class="logo" src="assets/images/DayDay_log_shadow.png"></a>
        <img class="line" src="assets/images/line.png">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" class="bottom-sidebar-wrapper">
        <div class="menu-wrapper">
            <div *ngFor="let element of sideBarElements" class="option" fxLayout="row"
                 [class.selected]="element.route === routeActive" fxLayoutAlign="none center"
                 (click)="redirect(element.route)">
                <div class="icon-wrapper">
                  <img class="icon {{element.name}}" src="{{element.icon}}">
              </div>
                <div class="name-wrapper">
                  {{ element.name }}
              </div>
            </div>
        </div>
        <div class="footer-plant">
            <div class="plant-wrapper" fxLayoutAlign="end end">
                <img class="plant" src="assets/images/planta.png">
            </div>
            <div class="footer-wrapper" fxLayout="column" fxLayoutAlign="center center">
                <div class="footer">
                    Made with <span>♥️</span> <br>by ins426
                </div>
            </div>
        </div>
    </div>
</div>
